<response status="success" code="7">
  <result/>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <device-group>
      <entry name="PPA-DG">
        <devices>
          <entry name="007955000435809">
            <vsys>
              <entry name="vsys1"/>
            </vsys>
          </entry>
          <entry name="007955000435813">
            <vsys>
              <entry name="vsys1"/>
            </vsys>
          </entry>
        </devices>
        <authorization-code>D5329422</authorization-code>
        <log-settings>
          <profiles/>
        </log-settings>
        <reference-templates>
          <member>PPA-TPL-Stack</member>
        </reference-templates>
      </entry>
    </device-group>
  </result>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <deviceconfig>
      <system>
        <update-server>updates.paloaltonetworks.com</update-server>
        <update-schedule>
          <threats>
            <recurring>
              <weekly>
                <day-of-week>wednesday</day-of-week>
                <at>01:02</at>
                <action>download-only</action>
              </weekly>
            </recurring>
          </threats>
        </update-schedule>
        <timezone>UTC</timezone>
        <service>
          <disable-telnet>yes</disable-telnet>
          <disable-http>yes</disable-http>
        </service>
        <device-telemetry>
          <device-health-performance>yes</device-health-performance>
          <product-usage>yes</product-usage>
          <threat-prevention>yes</threat-prevention>
          <region>Americas</region>
        </device-telemetry>
        <type>
          <dhcp-client>
            <send-hostname>yes</send-hostname>
            <send-client-id>no</send-client-id>
            <accept-dhcp-hostname>no</accept-dhcp-hostname>
            <accept-dhcp-domain>no</accept-dhcp-domain>
          </dhcp-client>
        </type>
        <hostname>Panorama</hostname>
        <dns-setting>
          <servers>
            <primary>169.254.169.253</primary>
          </servers>
        </dns-setting>
        <ntp-servers>
          <primary-ntp-server>
            <ntp-server-address>169.254.169.123</ntp-server-address>
            <authentication-type>
              <none/>
            </authentication-type>
          </primary-ntp-server>
        </ntp-servers>
        <dlsrvr>
          <interface>mgmt</interface>
        </dlsrvr>
        <public-ip-address>3.18.236.83</public-ip-address>
      </system>
      <setting>
        <management>
          <storage-partition>
            <internal/>
          </storage-partition>
          <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
          <initcfg>
            <type>
              <dhcp-client>
                <send-hostname>yes</send-hostname>
                <send-client-id>no</send-client-id>
                <accept-dhcp-hostname>no</accept-dhcp-hostname>
                <accept-dhcp-domain>no</accept-dhcp-domain>
              </dhcp-client>
            </type>
            <public-key>c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFEUGVmTFhRMjBnaXRIV0tDTVgvRmUwUndxZm9mMFFjNzM4Mm5UMTVBdjl1MU9JaUhlOEpYNUNkdG96N3ppV1pZczRpYjFlU3JlUVZacDlUR0RFdWNyVHFscGRLbVFhWjl1SkptdTdFY3lubm1zZHpKdXg5d0t0ZldUQXpLTERYV3BINzNTQUFyVW85eER6bnBkTm1jUVBOb1ZUOEVWOEo5UndTL3pyUldCcjE2ajRFKzRaN1plMGtyYkFYRi9jdE1WT09IcFI3S1JSMXdQRHJmT3RZUVhHYWJqalFhOXpTd0JLeGFYWm13WDFTOW9lblFrajduK2NpeEpxK2VtakRicm51N2JnVGNidkFlZmx6S0Jkd3BQYUVLeEZ1T3RMMnoyc1pHWTFBSlNPQTJTR0czQm40TExoVUlyVEVGTmFadFlOMlRCR0xQdnczMk1Ia2YwOHFJQXAgY2hpY2tlcmluZwo=</public-key>
          </initcfg>
        </management>
      </setting>
    </deviceconfig>
  </result>
</response>
<response status="success" code="7">
  <result/>
</response>
<response status="success" code="7">
  <result/>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <plugins>
      <sw_fw_license version="1.1.2">
        <bootstrap-definition>
          <entry name="PrivatePrisma">
            <authcode>D5329422</authcode>
          </entry>
        </bootstrap-definition>
        <license-manager>
          <entry name="PrivatePrismaLM">
            <device-group>PPA-DG</device-group>
            <template-stack>PPA-TPL-Stack</template-stack>
            <auto-deactivate>1</auto-deactivate>
            <bootstrap-definition>PrivatePrisma</bootstrap-definition>
          </entry>
        </license-manager>
      </sw_fw_license>
    </plugins>
  </result>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <template>
      <entry name="PPA-TPL">
        <settings>
          <default-vsys>vsys1</default-vsys>
        </settings>
        <config>
          <devices>
            <entry name="localhost.localdomain">
              <vsys>
                <entry name="vsys1">
                  <zone>
                    <entry name="Untrust">
                      <network>
                        <layer3>
                          <member>ethernet1/1</member>
                        </layer3>
                      </network>
                    </entry>
                    <entry name="Trust">
                      <network>
                        <layer3>
                          <member>ethernet1/2</member>
                          <member>loopback.1</member>
                        </layer3>
                      </network>
                      <enable-user-identification>yes</enable-user-identification>
                    </entry>
                  </zone>
                  <import>
                    <network>
                      <interface>
                        <member>ethernet1/1</member>
                        <member>ethernet1/2</member>
                        <member>loopback.1</member>
                      </interface>
                    </network>
                  </import>
                </entry>
              </vsys>
              <network>
                <profiles>
                  <interface-management-profile>
                    <entry name="ping">
                      <ping>yes</ping>
                    </entry>
                  </interface-management-profile>
                </profiles>
                <virtual-router>
                  <entry name="PPA-Untrust-VR">
                    <ecmp>
                      <algorithm>
                        <ip-modulo/>
                      </algorithm>
                    </ecmp>
                    <protocol>
                      <bgp>
                        <routing-options>
                          <graceful-restart>
                            <enable>yes</enable>
                          </graceful-restart>
                        </routing-options>
                        <enable>no</enable>
                      </bgp>
                      <rip>
                        <enable>no</enable>
                      </rip>
                      <ospf>
                        <enable>no</enable>
                      </ospf>
                      <ospfv3>
                        <enable>no</enable>
                      </ospfv3>
                    </protocol>
                    <interface>
                      <member>ethernet1/1</member>
                    </interface>
                  </entry>
                  <entry name="PPA-Trust-VR">
                    <ecmp>
                      <algorithm>
                        <ip-modulo/>
                      </algorithm>
                    </ecmp>
                    <protocol>
                      <bgp>
                        <routing-options>
                          <graceful-restart>
                            <enable>yes</enable>
                          </graceful-restart>
                        </routing-options>
                        <enable>no</enable>
                      </bgp>
                      <rip>
                        <enable>no</enable>
                      </rip>
                      <ospf>
                        <enable>no</enable>
                      </ospf>
                      <ospfv3>
                        <enable>no</enable>
                      </ospfv3>
                    </protocol>
                    <interface>
                      <member>ethernet1/2</member>
                      <member>loopback.1</member>
                    </interface>
                  </entry>
                </virtual-router>
                <interface>
                  <ethernet>
                    <entry name="ethernet1/1">
                      <layer3>
                        <ndp-proxy>
                          <enabled>no</enabled>
                        </ndp-proxy>
                        <sdwan-link-settings>
                          <upstream-nat>
                            <enable>no</enable>
                            <static-ip/>
                          </upstream-nat>
                          <enable>no</enable>
                          <ipv6-enable>no</ipv6-enable>
                        </sdwan-link-settings>
                        <lldp>
                          <enable>no</enable>
                        </lldp>
                        <interface-management-profile>ping</interface-management-profile>
                        <ip>
                          <entry name="$untrust_ip"/>
                        </ip>
                      </layer3>
                    </entry>
                    <entry name="ethernet1/2">
                      <layer3>
                        <ndp-proxy>
                          <enabled>no</enabled>
                        </ndp-proxy>
                        <sdwan-link-settings>
                          <upstream-nat>
                            <enable>no</enable>
                            <static-ip/>
                          </upstream-nat>
                          <enable>no</enable>
                          <ipv6-enable>no</ipv6-enable>
                        </sdwan-link-settings>
                        <interface-management-profile>ping</interface-management-profile>
                        <lldp>
                          <enable>no</enable>
                        </lldp>
                        <ip>
                          <entry name="$trust_ip"/>
                        </ip>
                      </layer3>
                    </entry>
                  </ethernet>
                  <loopback>
                    <units>
                      <entry name="loopback.1">
                        <adjust-tcp-mss>
                          <enable>no</enable>
                        </adjust-tcp-mss>
                        <ip>
                          <entry name="$bgp_loopback"/>
                        </ip>
                        <interface-management-profile>ping</interface-management-profile>
                      </entry>
                    </units>
                  </loopback>
                </interface>
              </network>
              <deviceconfig>
                <setting>
                  <logging>
                    <logging-service-forwarding>
                      <logging-service-regions>americas</logging-service-regions>
                      <enable>yes</enable>
                    </logging-service-forwarding>
                    <enhanced-application-logging>
                      <enable>yes</enable>
                    </enhanced-application-logging>
                  </logging>
                </setting>
                <system>
                  <update-schedule>
                    <anti-virus>
                      <recurring>
                        <hourly>
                          <at>17</at>
                          <action>download-and-install</action>
                        </hourly>
                      </recurring>
                    </anti-virus>
                    <threats>
                      <recurring>
                        <hourly>
                          <at>28</at>
                          <action>download-and-install</action>
                        </hourly>
                      </recurring>
                    </threats>
                    <wildfire>
                      <recurring>
                        <real-time/>
                      </recurring>
                    </wildfire>
                  </update-schedule>
                </system>
              </deviceconfig>
            </entry>
          </devices>
        </config>
        <variable>
          <entry name="$trust_ip">
            <type>
              <ip-netmask>169.254.0.1</ip-netmask>
            </type>
          </entry>
          <entry name="$untrust_ip">
            <type>
              <ip-netmask>169.254.0.3</ip-netmask>
            </type>
          </entry>
          <entry name="$bgp_loopback">
            <type>
              <ip-netmask>169.254.0.5</ip-netmask>
            </type>
          </entry>
          <entry name="$trust_nexthop">
            <type>
              <ip-netmask>169.254.0.2</ip-netmask>
            </type>
          </entry>
          <entry name="$untrust_nexthop">
            <type>
              <ip-netmask>169.254.0.4</ip-netmask>
            </type>
          </entry>
          <entry name="$public_untrust_ip">
            <type>
              <ip-netmask>169.254.0.6</ip-netmask>
            </type>
          </entry>
        </variable>
      </entry>
    </template>
  </result>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <template-stack>
      <entry name="PPA-TPL-Stack">
        <user-group-source/>
        <templates>
          <member>PPA-TPL</member>
        </templates>
        <settings>
          <default-vsys>vsys1</default-vsys>
        </settings>
        <auto-push-on-1st-conn>yes</auto-push-on-1st-conn>
        <devices>
          <entry name="007955000435809">
            <variable>
              <entry name="$trust_ip">
                <type>
                  <ip-netmask>10.255.255.4</ip-netmask>
                </type>
              </entry>
            </variable>
          </entry>
          <entry name="007955000435813"/>
        </devices>
      </entry>
    </template-stack>
  </result>
</response>
<response status="success" code="7">
  <result/>
</response>
<response status="success" code="7">
  <result/>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <mgt-config>
      <devices>
        <entry name="007955000435809"/>
        <entry name="007955000435813"/>
      </devices>
      <users>
        <entry name="admin">
          <phash>$5$jodnlats$/sXp1aAVRTyHi5bhFsIwOuZeYRdMEkq0S9JBG/3TU//</phash>
          <permissions>
            <role-based>
              <superuser>yes</superuser>
            </role-based>
          </permissions>
          <public-key>c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFEUGVmTFhRMjBnaXRIV0tDTVgvRmUwUndxZm9mMFFjNzM4Mm5UMTVBdjl1MU9JaUhlOEpYNUNkdG96N3ppV1pZczRpYjFlU3JlUVZacDlUR0RFdWNyVHFscGRLbVFhWjl1SkptdTdFY3lubm1zZHpKdXg5d0t0ZldUQXpLTERYV3BINzNTQUFyVW85eER6bnBkTm1jUVBOb1ZUOEVWOEo5UndTL3pyUldCcjE2ajRFKzRaN1plMGtyYkFYRi9jdE1WT09IcFI3S1JSMXdQRHJmT3RZUVhHYWJqalFhOXpTd0JLeGFYWm13WDFTOW9lblFrajduK2NpeEpxK2VtakRicm51N2JnVGNidkFlZmx6S0Jkd3BQYUVLeEZ1T3RMMnoyc1pHWTFBSlNPQTJTR0czQm40TExoVUlyVEVGTmFadFlOMlRCR0xQdnczMk1Ia2YwOHFJQXAgY2hpY2tlcmluZwo=</public-key>
        </entry>
        <entry name="__openconfig">
          <phash>$5$oumnuwsr$TTqd2VtCr5LsSNPcalT8QT1iEkiv1xgMiz8IHlZhmb3</phash>
          <permissions>
            <role-based>
              <panorama-admin>yes</panorama-admin>
            </role-based>
          </permissions>
        </entry>
        <entry name="__cloudconnector">
          <phash>$5$hithrgbs$YWF3sBKTDnrHI3UxUjxodEjfhNIBHPgA9btSYcB2bT4</phash>
          <permissions>
            <role-based>
              <panorama-admin>yes</panorama-admin>
            </role-based>
          </permissions>
        </entry>
        <entry name="__vm_series">
          <phash>$5$mhqdnuxo$VNj4lnBBIyao4m46eBC6b6UKDzljGUxuSZ2fRBy4CIA</phash>
          <permissions>
            <role-based>
              <panorama-admin>yes</panorama-admin>
            </role-based>
          </permissions>
        </entry>
        <entry name="__cloud_services">
          <phash>$5$bwyejtjw$yjKK8rePiqWOMuYpaGkM2QpDOScwDzbwfzWWFj0WB81</phash>
          <permissions>
            <role-based>
              <panorama-admin>yes</panorama-admin>
            </role-based>
          </permissions>
        </entry>
        <entry name="__sw_fw_license">
          <phash>$5$moapyxcy$.Zu408rG9.jXtGBoKm2y4sq2EuhlQKPLTX18rvFrtW7</phash>
          <permissions>
            <role-based>
              <panorama-admin>yes</panorama-admin>
            </role-based>
          </permissions>
        </entry>
      </users>
      <password-complexity>
        <enabled>yes</enabled>
        <minimum-length>8</minimum-length>
      </password-complexity>
    </mgt-config>
  </result>
</response>
<response status="success" code="7">
  <result/>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <readonly>
      <devices>
        <entry name="localhost.localdomain">
          <device-group>
            <entry name="PPA-DG">
              <id>11</id>
            </entry>
          </device-group>
          <template>
            <entry name="PPA-TPL">
              <id>12</id>
              <config>
                <devices>
                  <entry name="localhost.localdomain">
                    <vsys>
                      <entry name="vsys1">
                        <zone>
                          <entry name="Untrust">
                            <id>16</id>
                          </entry>
                          <entry name="Trust">
                            <id>17</id>
                          </entry>
                        </zone>
                      </entry>
                    </vsys>
                  </entry>
                </devices>
              </config>
            </entry>
          </template>
          <template-stack>
            <entry name="PPA-TPL-Stack">
              <id>13</id>
            </entry>
          </template-stack>
          <plugins>
            <sw_fw_license>
              <bootstrap-definition>
                <entry name="PrivatePrisma">
                  <id>14</id>
                </entry>
              </bootstrap-definition>
              <license-manager>
                <entry name="PrivatePrismaLM">
                  <id>15</id>
                </entry>
              </license-manager>
            </sw_fw_license>
          </plugins>
        </entry>
      </devices>
      <max-internal-id>17</max-internal-id>
    </readonly>
  </result>
</response>
<response status="success" code="19">
  <result total-count="1" count="1">
    <shared>
      <log-settings>
        <profiles>
          <entry name="default">
            <match-list>
              <entry name="traffic-enhanced-app-logging">
                <log-type>traffic</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="threat-enhanced-app-logging">
                <log-type>threat</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="wildfire-enhanced-app-logging">
                <log-type>wildfire</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="url-enhanced-app-logging">
                <log-type>url</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="data-enhanced-app-logging">
                <log-type>data</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="tunnel-enhanced-app-logging">
                <log-type>tunnel</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="auth-enhanced-app-logging">
                <log-type>auth</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
              <entry name="decryption-enhanced-app-logging">
                <log-type>decryption</log-type>
                <filter>All Logs</filter>
                <send-to-panorama>yes</send-to-panorama>
                <quarantine>no</quarantine>
              </entry>
            </match-list>
            <enhanced-application-logging>yes</enhanced-application-logging>
          </entry>
        </profiles>
      </log-settings>
    </shared>
  </result>
</response>